<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/application.js" type="text/javascript"></script>
    <script>
        	  $(document).ready(function() {
	    $(".homepage-title").lettering();
	  });
    </script>
<style>
@import url('https://fonts.googleapis.com/css?family=Oxygen');
        
html, body {
    margin:0;
    height:100%;
    padding:0;
    font-family:'Oxygen', sans-serif;
    background-color:black;
}

.char#1 {
    color:blue;
    margin:100%;
}

.homepage-info {
    color:#6495ED;
    font-size:2.5vmax;
}

.navbar {
    overflow: hidden;
    background-color: #6495ED;
    position: fixed; 
    top: 0; 
    width: 100%; 
}

.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 1.5vmax 1vmax;
    text-decoration: none;
    font-size:1vmax;
}
    </style>
</head>
<body>
<div class="home-container">
    <div class="navbar">
      <a href="index.html">Home</a>
      <a href="login.html">Login</a>
      <a href="sign-in.html">Sign Up</a>
      <a href="raffles.html">Raffles</a>
    </div>
    <h1 class="homepage-title">  
      <span class="char1">e</span>
      <span class="char2">Z</span>
      <span class="char3">M</span>
      <span class="char4">o</span>
      <span class="char5">n</span>
      <span class="char6">e</span>
      <span class="char7">y</span>
  </h1>
  <h3 class="homepage-info">The easiest, quickest way on the internet to win even millions in cash and prizes! <br>Just sign up, enter, and win!!!!! </h3>
</div>
</body>
</html>